<div class="center">
  <h1>On Draft - Home Page</h1>
  <% if !logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <p>Already a member? <%= link_to "Log in", login_path %></p>
  <% end -%>

</div>