<% provide(:title, "Log in") %>
<h1>Log in</h1>

<section>
  <div class="formbox">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.email_field :email, class: 'form-control',
                                tabindex: '1',
                                placeholder: :email %><br>

      <%= f.password_field :password, class: 'form-control',
                                      tabindex: '2',
                                      placeholder: :password %>
      <p class="text-right">
        <small>
        <%= link_to "(forgot password)", new_password_reset_path %>
        </small>
      </p>
      <%= f.submit "Log in", class: "btn btn-primary", tabindex: '3' %>
      <div class="center"><%= f.label :remember_me, class: "checkbox inline" do %><br>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      </div>
      <% end %>
    <% end %>
    <div class="center">
      New user? <%= link_to "Sign up now!", signup_path %>
    </div>
  </div>
</section>