<%= render 'shared/hop_error_messages' %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control'  %>
<br>
<%= f.label :origin %>
<%= f.email_field :origin, class: 'form-control' %>
<br>
<%= f.label :alpha %>
<%= f.password_field :alpha, class: 'form-control' %>
<br>
