<li>
  <div>
    <strong><%= link_to hop.name, hop, title: "Click for Full Details" %> </strong>
    (<i><%= hop.origin %></i>)
  <% if current_user.admin? %>
    <small><%= link_to "delete", hop, method: :delete, class: "confirm",
                                  data: { confirm: "Are you sure you want to delete <i>#{hop.name}</i>?" } %>
    </small>
  <% end %>
  </div>
</li>