<% provide(:title, 'Hops') %>
<h1>All Hops</h1>

<%= will_paginate @hops, outer_window: 0, inner_window: 1 %>

<ul class="ingredients">
  <%= render @hops %>
</ul>

<%= will_paginate @hops, outer_window: 0, inner_window: 1 %>
