<% provide(:title, 'New Hop') %>
<h1>Create a New Hop</h1>

<section>
  <div class="formbox">
    <%= form_for(@hop) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Hop", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>