<% provide(:title, @hop.name) %>
<h1><%= @hop.name %></h1>

<table>
  <tbody>
    <tr>
      <td><b>Origin</b></td>
      <td><%= @hop.origin ||= "-" %></td>
    </tr>
    <tr>
      <td><b>Alpha Acids</b></td>
      <td><%= @hop.alpha.present? ? "#{@hop.alpha}%" : "-" %></td>
    </tr>
  </tbody>
</table>