<li>
  <strong><%= link_to recipe.name, recipe %> </strong>
  <% if current_user.admin? %>
     <%= link_to "delete", recipe, method: :delete, class: "confirm",
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>