<% provide(:title, 'All Recipes') %>
<h1>All Recipes</h1>

<%= will_paginate @recipes, outer_window: 0, inner_window: 1 %>

<ul class="recipes">
  <%= render @recipes %>
</ul>

<%= will_paginate @recipes, outer_window: 0, inner_window: 1 %>