<% provide(:title, @recipe.name) %>
<h1><%= @recipe.name %></h1>


  <h2>Recipe Details</h2>
  <table>
    <tbody>
      <tr>
        <th>Style</th>
        <td><%= @recipe.style.present? ? @recipe.style : "-" %></td>
        <th>Efficiency</th>
        <td><%= @recipe.efficiency.present? ? "#{@recipe.efficiency}%" : "-" %></td>
      </tr>
      <tr>
        <th>Batch Volume</th>
        <td><%= @recipe.batch_vol.present? ? "#{@recipe.batch_vol} gal" : "-" %></td>
        <th>Boil Duration</th>
        <td><%= @recipe.boil_duration.present? ? "#{@recipe.boil_duration} min" : "-" %></td>
      </tr>
      <tr>
        <th>Wort Volume</th>
        <td><%= @recipe.wort_vol.present? ? "#{@recipe.wort_vol} gal" : "-" %></td>
        <th>Evaporation Rate</th>
        <td><%= @recipe.evap_rate.present? ? "#{@recipe.evap_rate} % / hr" : "-" %></td>
      </tr>
      <tr>
        <th>Est IBU</th>
        <td><%= @recipe.est_ibu.present? ? @recipe.est_ibu : "-" %></td>
        <th>Color</th>
        <td><%= @recipe.est_srm.present? ? "#{@recipe.est_srm} SRM" : "-" %></td>
      </tr>
    </tbody>
  </table>

<h2>Fermentables</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Origin</th>
        <th>Type</th>
        <th>Color</th>
        <th>Potential s.g.</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @items["Ferm"].each do |item| %>
      <tr>
        <th><%= item.ingredient.name.present? ? item.ingredient.name : "-" %></th>
        <td><%= item.ingredient.origin.present? ? item.ingredient.origin : "-" %></td>
        <td><%= item.ingredient.subtype.present? ? item.ingredient.subtype : "-" %></td>
        <td class="center">
          <%= item.ingredient.color.present? ? "#{item.ingredient.color} SRM" : "-"  %>
        </td>
        <td class="center">
          <%= item.ingredient.pot_sg.present? ? "%.3f" % item.ingredient.pot_sg : "-" %>
        </td>
        <td class="center">
          <%= item.amount.present? ? "#{item.amount} #{item.unit}" : "-"  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<h2>Hops</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Origin</th>
        <th>Alpha Acids</th>
        <th>Amount</th>
        <th>Boil Time</th>
      </tr>
    </thead>
    <tbody>
      <% @items["Hop"].each do |item| %>
      <tr>
        <th><%= item.ingredient.name.present? ? item.ingredient.name : "-" %></th>
        <td><%= item.ingredient.origin.present? ? item.ingredient.origin : "-" %></td>
        <td class="center">
          <%= item.ingredient.alpha.present? ? "#{item.ingredient.alpha} %" : "-"  %>
        </td>
        <td class="center">
          <%= item.amount.present? ? "#{item.amount} #{item.unit}" : "-"  %>
        </td>
        <td class="center">
          <%= item.boil_time.present? ? "#{item.boil_time} min" : "-"  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<h2>Yeast</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Lab/Brand</th>
        <th>Strain</th>
        <th>State</th>
        <th>Flocculation</th>
        <th>Attenuation</th>
      </tr>
    </thead>
    <tbody>
      <% @items["Yeast"].each do |item| %>
      <tr>
        <th><%= item.ingredient.name.present? ? item.ingredient.name : "-" %></th>
        <td><%= item.ingredient.lab.present? ? item.ingredient.lab : "-" %></td>
        <td><%= item.ingredient.strain.present? ? item.ingredient.strain : "-" %></td>
        <td><%= item.ingredient.state.present? ? item.ingredient.state : "-" %></td>
        <td><%= item.ingredient.floc.present? ? item.ingredient.floc : "-" %></td>
        <td class="center">
          <%= item.ingredient.atten.present? ? "#{item.ingredient.atten}%" : "-" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
