<li>
  <div>
    <strong><%= link_to ferm.name, ferm, title: "Click for Full Details" %> </strong>
    (<i><%= ferm.origin %></i>)
  <% if current_user.admin? %>
    <small><%= link_to "delete", ferm, method: :delete, class: "confirm",
                                  data: { confirm: "Are you sure you want to delete <i>#{ferm.name}</i>?" } %>
    </small>
  <% end %>
  </div>
</li>