<%= render 'shared/ferm_error_messages' %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control'  %>
<br>
<%= f.label :subtype %>
<%= f.text_field :subtype, class: 'form-control'  %>
<br>
<%= f.label :origin %>
<%= f.email_field :origin, class: 'form-control' %>
<br>
<%= f.label :color %>
<%= f.password_field :color, class: 'form-control' %>
<br>
<%= f.label :pot_sg, "Retype Password" %>
<%= f.password_field :pot_sg, class: 'form-control' %>
<br>
