<% provide(:title, 'Fermentables') %>
<h1>All Fermentables</h1>

<%= will_paginate @ferms, outer_window: 0, inner_window: 1 %>
<ul class="ingredients">
  <%= render @ferms %>
</ul>

<%= will_paginate @ferms, outer_window: 0, inner_window: 1 %>
