<% provide(:title, 'New Fermentable') %>
<h1>Create a New Fermentable</h1>

<section>
  <div class="formbox">
    <%= form_for(@ferm) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Fermentable", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>