<% provide(:title, @ferm.name) %>
<h1><%= @ferm.name %></h1>

<table>
  <tbody>
    <tr>
      <td><b>Type</b></td>
      <td><%= @ferm.subtype ||= "-" %></td>
    </tr>
    <tr>
      <td><b>Origin</b></td>
      <td><%= @ferm.origin ||= "-" %></td>
    </tr>
    <tr>
      <td><b>Color</b></td>
      <td><%= @ferm.color.present? ? "#{@ferm.color} SRM" : "-" %></td>
    </tr>
    <tr>
      <td><b>Potential SG</b></td>
      <td><%= @ferm.pot_sg.present? ? "%.3f" % @ferm.pot_sg : "-" %></td>
    </tr>
  </tbody>
</table>