<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<section>
  <div class="formbox">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>