<li>
  <%= link_to ingredient.name, ingredient %>
  <% if current_user.admin? %>
    | <%= link_to "delete", ingredient, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>