<%= render 'shared/yeast_error_messages' %>

<div><%= f.text_field :name, class: 'form-control'  %></div>
<br>
<%= f.label :lab %>
<%= f.email_field :lab, class: 'form-control' %>
<br>
<%= f.label :strain %>
<%= f.password_field :strain, class: 'form-control' %>
<br>
<%= f.label :kind %>
<%= f.password_field :kind, class: 'form-control' %>
<br>
<%= f.label :state %>
<%= f.password_field :state, class: 'form-control' %>
<br>
<%= f.label :floc %>
<%= f.password_field :floc, class: 'form-control' %>
<br>
<%= f.label :atten %>
<%= f.password_field :atten, class: 'form-control' %>
<br>
