<li>
  <div>
    <strong><%= link_to yeast.name, yeast, title: "Click for Full Details" %> </strong>
    (<i><%= yeast.lab %><%= " #{yeast.strain}" if yeast.strain.present? %></i>)
  <% if current_user.admin? %>
    <small><%= link_to "delete", yeast, method: :delete, class: "confirm",
                                  data: { confirm: "Are you sure you want to delete <i>#{yeast.name}</i>?" } %>
    </small>
  <% end %>
  </div>
</li>