<% provide(:title, 'Yeasts') %>
<h1>All Yeasts</h1>

<%= will_paginate @yeasts, outer_window: 0, inner_window: 1 %>

<ul class="ingredients">
  <%= render @yeasts %>
</ul>

<%= will_paginate @yeasts, outer_window: 0, inner_window: 1 %>
