<% provide(:title, 'New Yeast') %>
<h1>Create a New Yeast</h1>

<section>
  <div class="formbox">
    <%= form_for(@yeast) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create Yeast", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>