<% provide(:title, @yeast.name) %>
<h1><%= @yeast.name %></h1>

<table>
  <tbody>
    <tr>
      <td><b>Lab/Supplier</b></td>
      <td><%= @yeast.lab ||= "-" %></td>
    </tr>
    <tr>
      <td><b>Strain</b></td>
      <td><%= @yeast.strain ||= "-" %></td>
    </tr>
    <tr>
      <td><b>Kind</b></td>
      <td><%= @yeast.kind ||= "-" %></td>
    </tr>
    <tr>
      <td><b>State</b></td>
      <td><%= @yeast.state ||= "-" %></td>
    </tr>
    <tr>
      <td><b>Flocculation</b></td>
      <td><%= @yeast.floc ||= "-" %></td>
    </tr>
    <tr>
      <td><b>Attenuation</b></td>
      <td><%= @yeast.atten.present? ? "#{@yeast.atten}%" : "-" %></td>
    </tr>
  </tbody>
</table>